* {
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  align-items: flex-start !important;
}

.container {
  display: flex;
  align-items: center;
}

.container div.chart-container {
  display: flex;

  padding: 0.5em;
  margin: 0 1em;

  height: fit-content;
}

section.description-container {
  display: flex;
  flex-direction: column;

  /* padding: 0.5em;
  margin: 1em; */
}

section.description-container p {
  line-height: 25px;
}

section.description-container h3 {
  line-height: 30px;
}

#quotes-chart {
  flex: 1;
  margin: 0;
}

div.left-inner-container {
  flex: 1;
  flex-direction: column;
}

div.metrics-table-container {
  display: flex;

  padding: 0.5em;
  margin: 0 1em;

  height: fit-content;
}

div.left-inner-container div.metrics-charts-container {
  display: flex;

  padding: 0.5em;
  margin: 1em 0 0 1em;

  height: 100%;
}

.box-shadow {
  border-radius: 5px;
  /* offset-x | offset-y | blur | color */
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); */
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0 !important;
  /* background-color: orange; */
}

table tr:hover {
  cursor: default;
  background-color: rgba(53, 149, 233, 0.3);
}

table.vertical-table,
table.horizontal-table {
  border-spacing: 0;
  overflow: scroll;
}

table.vertical-table.same-width,
table.horizontal-table.same-width {
  width: 500px;
  max-height: 510px;
}

th, td {
  line-height: 29px;
}

.vertical-table thead {
  color: #222;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  /* background-color: red; */
}

.vertical-table thead th {
  font-weight: normal;
  padding: 8px;

  border-bottom: 2px solid black;
}

.vertical-table thead th:not(:first-child) {
  text-align: center;
}

.vertical-table thead tr:hover {
  background-color: transparent;
}

.vertical-table tbody {
  width: 100%;
}

.vertical-table tbody tr {
  width: 100%;
}

.vertical-table tbody tr td:first-child {
  width: 250px;
}

.vertical-table tbody tr td:not(:first-child) {
  text-align: center;
}

.vertical-table tbody tr td {
  padding: 8px;
  color: #666;
  vertical-align: middle;
}

.vertical-table tbody tr:last-of-type {
  border-bottom: 1px solid rgb(128, 128, 128);
}

.vertical-table tbody tr td.row-title {
  white-space: nowrap;
  font-weight: bold;
  /* border-right: 1px solid black; */
  /* text-transform: capitalize; */
}

.horizontal-table tr {
  width: 100%;
  /* text-transform: capitalize; */
}

.horizontal-table tr.inverted-color,
.vertical-table tr.inverted-color {
  /* background-color: #222; */
}

.horizontal-table tr.inverted-color:hover,
.vertical-table tr.inverted-color:hover {
  background-color: white !important;
}

.horizontal-table tr.inverted-color th,
.vertical-table tr.inverted-color th {
  color: #222;
  text-transform: capitalize;
  font-weight: bold;
}

td.inverted-color {
  /* background-color: #222;
  color: whitesmoke !important; */
}

.horizontal-table tr th {
  width: 250px;
  color: #666;
  padding: 8px;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.horizontal-table tr th.inverted-color {
  font-weight: bold;
  /* background-color: #222 !important; */
  /* color: whitesmoke; */
}

.horizontal-table tr th.center-text {
  text-align: center;
}

.horizontal-table tr td {
  padding: 8px;
  color: #666;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.join {
  /* justify-content: center !important; */
}

.join div {
  /* margin: auto 0; */
}

div#top-ten-chart {
  margin-top: 60px;
}

.download-buttons-container {
  display: flex;
  padding: 40px 0;
}

/* a.download-button:first-child {
} */

a.download-button {
  margin-right: 20px;
  color: #222;
  font-weight: bold;
  text-decoration: underline !important;
}