.tab {
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  cursor: pointer;

  color: #6d7688;
  background-color: rgb(231, 231, 231);
  border: none;
  padding: 1em 2rem;
  
  text-align: center;
  text-decoration: none;
  margin-right: 8px;

  font-weight: 700;
  transition: 700ms;
}

.tab:hover {
  background-color: rgb(218, 218, 218);
}

.tab-bar {
  width: 100%;
  display: flex;
  flex: 1 1 100%;
  margin-top: 1em;
  flex-direction: column;
}

.tab-bar .bar {
  display: flex;
  flex: 1 1 100%;
}

.tab-content {
  display: none;
  padding: 10px 1em;
}

.tab-content.active-tab {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab.active-tab {
  color: white;
  background-color: rgb(71, 78, 94);
}

.download-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.excel-icon {
  width: 1.3em;
  height: 1.3em;
  margin-right: 10px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cstyle%3E.a%7Bfill:%234CAF50;%7D.b%7Bfill:%23FAFAFA;%7D%3C/style%3E%3Cpath d='M294.7 13c-2.5-2.1-5.9-2.8-9-2.1l-277.3 64C3.4 76 0 80.4 0 85.4v362.7c0 5.3 3.8 9.7 9 10.5l277.3 42.7c5.8 0.9 11.3-3.1 12.2-8.9 0.1-0.5 0.1-1.1 0.1-1.6V21.4C298.7 18.1 297.2 15 294.7 13z' class='a'/%3E%3Cpath d='M501.3 458.7H288c-5.9 0-10.7-4.8-10.7-10.7 0-5.9 4.8-10.7 10.7-10.7h202.7V74.7H288c-5.9 0-10.7-4.8-10.7-10.7S282.1 53.4 288 53.4h213.3c5.9 0 10.7 4.8 10.7 10.7v384C512 453.9 507.2 458.7 501.3 458.7z' class='a'/%3E%3Cpath d='M202.7 352c-3.7 0-7.1-1.9-9-5L87 176.4c-3.3-4.9-2-11.5 2.9-14.8s11.5-2 14.8 2.9c0.1 0.2 0.3 0.4 0.4 0.6l106.7 170.7c3.1 5 1.6 11.6-3.4 14.7C206.6 351.5 204.7 352 202.7 352z' class='b'/%3E%3Cpath d='M96 352c-5.9 0-10.7-4.8-10.6-10.7 0-2 0.6-3.9 1.6-5.6l106.7-170.7c3-5.1 9.5-6.8 14.6-3.9 5.1 3 6.8 9.5 3.9 14.6 -0.1 0.2-0.2 0.4-0.4 0.6L105.1 347C103.1 350.1 99.7 352 96 352z' class='b'/%3E%3Cpath d='M373.3 458.7c-5.9 0-10.7-4.8-10.7-10.7v-384c0-5.9 4.8-10.7 10.7-10.7 5.9 0 10.7 4.8 10.7 10.7v384C384 453.9 379.2 458.7 373.3 458.7z' class='a'/%3E%3Cpath d='M501.3 394.7H288c-5.9 0-10.7-4.8-10.7-10.7 0-5.9 4.8-10.7 10.7-10.7h213.3c5.9 0 10.7 4.8 10.7 10.7C512 389.9 507.2 394.7 501.3 394.7z' class='a'/%3E%3Cpath d='M501.3 330.7H288c-5.9 0-10.7-4.8-10.7-10.7 0-5.9 4.8-10.7 10.7-10.7h213.3c5.9 0 10.7 4.8 10.7 10.7C512 325.9 507.2 330.7 501.3 330.7z' class='a'/%3E%3Cpath d='M501.3 266.7H288c-5.9 0-10.7-4.8-10.7-10.7 0-5.9 4.8-10.7 10.7-10.7h213.3c5.9 0 10.7 4.8 10.7 10.7C512 261.9 507.2 266.7 501.3 266.7z' class='a'/%3E%3Cpath d='M501.3 202.7H288c-5.9 0-10.7-4.8-10.7-10.7s4.8-10.7 10.7-10.7h213.3c5.9 0 10.7 4.8 10.7 10.7S507.2 202.7 501.3 202.7z' class='a'/%3E%3Cpath d='M501.3 138.7H288c-5.9 0-10.7-4.8-10.7-10.7 0-5.9 4.8-10.7 10.7-10.7h213.3c5.9 0 10.7 4.8 10.7 10.7C512 133.9 507.2 138.7 501.3 138.7z' class='a'/%3E%3C/svg%3E")
    no-repeat;
}
