* {
  margin: 0;
  padding: 0;
}

.container.column {
  display: flex;
  margin: 2em 0;
  flex-direction: column;

  flex-wrap: wrap;
  
  align-items: center;
  justify-content: center;

  min-height: 60px;
  padding: 20px;
}

div.container {
  display: flex;
  margin: 2em 0;
  flex-direction: row;

  flex-wrap: wrap;
  
  align-items: center;
  justify-content: space-around;
}

div.container div.chart-container {
  display: flex;
  
  padding: 0.5em;
  margin: 0 1em;
  
  height: fit-content;
}

div.right-inner-container {
  flex: 3;
  display: flex;
  flex-direction: column;
}

div.right-inner-container div.descrition-container {
  display: flex;
  flex-direction: column;

  padding: 0.5em;
  margin: 1em;
}

div.descrition-container p {
  line-height: 25px;
}

div.descrition-container h3 {
  line-height: 30px;
}

div.descrition-container br {
  line-height: 20px;
}

#quotes-chart {
  flex: 1;
  margin: 0 1em;
}

div.left-inner-container {
  flex: 1;
  flex-direction: column;
}

div.metrics-table-container {
  display: flex;

  padding: 0.5em;
  margin: 0 1em;

  height: fit-content;
}

div.left-inner-container div.metrics-charts-container {
  display: flex;

  padding: 0.5em;
  margin: 1em 0 0 1em;

  height: 100%;
}

.box-shadow {
  border-radius: 5px;
  /* offset-x | offset-y | color */
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); */
}

.box {
  width: 350px;
  margin: 10px;
  align-self: flex-start;
  /* background-color: orange; */
}

table.vertical-table,
table.horizontal-table {
  flex: 1;
  line-height: 30px;
  border-spacing: 0;
}

.vertical-table thead {
  color: #222;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
}

.vertical-table tbody {
  width: 100%;
  /* background-color: cyan; */
}

.vertical-table tbody tr {
  width: 100%;
}

.vertical-table tbody tr td:first-child {
  width: 250px;
}

.vertical-table tbody tr td:not(:first-child) {
  text-align: center;
}

.vertical-table tbody tr td {
  padding: 8px;
  color: #666;
  line-height: 1.6;
  vertical-align: middle;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.horizontal-table tr {
  width: 100%;
  text-transform: uppercase;
}

.horizontal-table tr th {
  width: 250px;
  color: #666;
  padding: 8px;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.horizontal-table tr td {
  padding: 8px;
  color: #666;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid rgb(128, 128, 128);
}