* {
  margin: 0;
  padding: 0;
}

div.container {
  display: flex;
  margin: 2em 0;

  flex-wrap: wrap;
  
  align-items: center;
  justify-content: center;
}

div.container div.chart-container {
  flex: 1;
  display: flex;
  
  padding: 10px;
  margin: 0 20px;
  
  height: 250px;
  
  border-radius: 10px;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: rgb(53,149,233);
  
  background-color: rgb(238, 238, 238);
  
  /* offset-x | offset-y | color */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}