:root {
  --color-light: whitesmoke;
  --color-dark: #212121;
  --color-signal: rgb(53, 149, 233);
  --color-primary: rgba(53, 149, 233, 0.3);
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  --size-bezel: 0.5rem;
  --size-radius: 4px;
  line-height: 1.4;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

.indices-ul {
  margin: 0;
  padding: 0;
}

.index-list-container {
  display: flex;
  flex-direction: column;
}

.index-container {
  display: flex;
  padding: 0 20px;
  cursor: pointer;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
}

.index-container:hover {
  background-color: var(--color-primary);
}

.index-title-container {
  display: flex;
  flex-grow: 1;
  white-space: pre-wrap;
}

.index-type {
  font-weight: normal;
  line-height: 20px;
}

.index-title {
  font-weight: normal;
  margin: 10px 0;
}

.index-icon-container {
  /* background-color: orangered; */
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 30px;
  min-height: 30px;
}

.input {
  position: relative;
}

.input__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}

.input__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
}

.input__field:not(:-moz-placeholder-shown) + .input__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
}
.input__field:not(:-ms-input-placeholder) + .input__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
}
.input__field:focus + .input__label,
.input__field:not(:placeholder-shown) + .input__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-dark);
}
